@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    
    --primary: 39 89% 69%;
    --primary-foreground: 60 9.1% 97.8%;
    
    --secondary: 60 84% 88%;
    --secondary-foreground: 24 9.8% 10%;
    
    --muted: 60 84% 88%;
    --muted-foreground: 25 5.3% 44.7%;
    
    --accent: 60 84% 88%;
    --accent-foreground: 24 9.8% 10%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    
    --border: 39 89% 69%;
    --input: 39 89% 69%;
    --ring: 39 89% 69%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: #f57c73;
  }
}